@font-face {
  font-family: MyFont;
  src: url(STHeitiSC.ttf);
}
@font-face {
  font-family: Aller;
  src: url(Aller_Rg.ttf);
}
$logo-color: #57c5a0;
$back-black: #242424;
$slider-black: #2e2e2e;
$top-font-color: #b1aeae;
body {
	font-family: MyFont, serif;
}
header {
	height: 44px;
	background-color: $back-black;
	div {
		position: relative;
		width: 960px;
		min-width: 960px;
		margin: 0 auto;
		display: block;
		a[href="index.html"] {
			text-transform: uppercase;
			color: $logo-color;
			text-decoration: none;
			font-size: 26pt;
			float: left;
		}
		p, input {
			float: right;
		}
		input {
			text-indent: 18px;
			width: 171px;
			height: 44px;
			color: $top-font-color;
			text-transform: uppercase;
			font-family: Myriad Pro, serif;
			font-size: 12pt;
			border: 1px $top-font-color solid;
			border-width: 0 1px;
			letter-spacing: 2px;
			background: url('../images/search-icon.png') 171px-18px*2 /* width(171) - padding_left + padding_right(18+18) */ 12px scroll no-repeat $back-black;
		}
		p {
			color: $top-font-color;
			padding: 11px 22px;
			margin: 0;
			border-right: 1px $top-font-color solid;
			a {
				color: $top-font-color;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					color: $logo-color;
				}
			}
		}
	}
}
nav {
	height: 60px;
	width: 960px;
	min-width: 960px;
	margin: 0 auto;
	display: block;
	a {
		color: #000;
		float: left;
		width: auto;
		padding: 20px;
		text-transform: capitalize;
		text-decoration: none;
		border-left: 1px #eee solid;
		font-family: Aller, serif;
		&:hover {
			color: $logo-color;
		}
		&:last-of-type {
			border-right: 1px #eee solid;
		}
	}
	p {
		cursor: pointer;
		float: right;
		display: block;
		width: 90px;
		height: 20px;
		margin: 0;
		text-align: center;
		padding: 20px 0;
		border-left: 1px #ccc solid;
		font-size: smaller;
		&:first-of-type {
			border-right: 1px #ccc solid;
			background: url('../images/cart-icon.png') 22px 26px scroll no-repeat;
		}
		&:last-of-type {
			background: url('../images/wishlist-icon-off.png') 22px 26px scroll no-repeat;
		}
		&:hover span {
			background-color: $logo-color;
		}
		span {
			padding: 5px;
			display: block;
			width: 14px;
			height: 14px;
			border-radius: 3px;
			background-color: #adadad;
			margin-left: 46px;
			font-weight: bold;
			color: #fff;
			font-family: Aller;
		}
	}
}
banner {
	background: url('../images/img-bg.jpg') 0 0 scroll no-repeat;
	display: block;
	height: 460px;
	& > div:first-child {
		height: 460px;
		width: 960px;
		min-width: 960px;
		margin: 0 auto;
		display: block;
		position: relative;
		content {
			position: absolute;
			left: 520px;
			top: 70px;
			& > * {
				margin: 8px 0;
			}
			#price {
				display: block;
				width: 66px;
				background-color: $logo-color;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-family: Aller;
				font-size: 9pt;
				padding: 26px 0;
				&:before {
					content:'$';
				}
			}
			p:last-of-type {
				text-transform: capitalize;
		    font-size: 20px;
    		padding-right: 5px;
			}
		}
	}
}
ul.links {
	padding: 0;
	li {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: #fff;
		&:hover {
			cursor: pointer;
		}
		span {
			display: block;
			width: 40px;
			height: 40px;
		}
		&:first-child span {
			background: url('../images/eye-icon-off.png') 12px 14px scroll no-repeat;
			&:hover {
				background-image: url('../images/eye-icon-on.png');
			}
		}
		&:nth-child(2) span {
			background: url('../images/wishlist-icon-off.png') 11px 12px scroll no-repeat;
			&:hover {
				background-image: url('../images/wishlist-icon-on.png');
			}
		}
		&:nth-child(3) span {
			background: url('../images/share-icon-off.png') 12px 13px scroll no-repeat;
			&:hover {
				background-image: url('../images/share-icon-on.png');
			}
		}
		&:last-child span {
			background: url('../images/buy-icon-off.png') 10px 12px scroll no-repeat;
			&:hover {
				background-image: url('../images/buy-icon-on.png');
			}
		}
	}
}
controllers {
	background-color: $slider-black;
	height: 90px;
	display: block;
	padding-top: 6px;
	.controllers {
		width: 600px;
		margin: 0 auto;
		height: 90px;
		& > div {
			cursor: pointer;
			width: 190px;
			display: inline-block;
			margin-right: -4px;
			&:nth-child(2) {
				margin-left: 6px;
			}
			& > * {
				text-align: center;
				color: #acacac;
				margin-bottom: 0;
				padding: 0;
				font-family: Aller;
				font-weight: normal;
			}
			& > p {
				margin-top: 0;
				color: #787878;
			}
			&.active, &:hover {
				h3 {color: #fff;}
				p {color: #adadad;}
			}
		}
		.slider {
			display: block;
			width: 570px;
			height: 8px;
			background-color: #000;
			position: relative;
			padding: 2px 6px;
			hr {
				display: block;
				width: 570px/3-2px-4px;
				/* .slider width / 3 - .slider padding-top - span padding-left/right */
				background-color: $logo-color;
				height: 10px-2px;
				/* .slider height - .slider padding-top */
				margin: 0;
				padding: 0;
				border: 0;
			}
			span {
				display: block;
				width: 2px;
				height: 8px;
				background-color: $slider-black;
				position: absolute;
				top: 2px;
				&:first-of-type{
					left: 194px;
				}
				&:last-child {
					left: 4px+190px*2+2px;
					/* .slider padding-left + hr width *2 + first span */
				}
			}
		}
	}
}
specials {
	background-color: $back-black;
	height: 230px-25px;
	display: block;
	padding-top: 25px;
	.specials {
		width: 960px;
		min-width: 960px;
		margin: 0 auto;
		height: 230px;
		div {
			cursor: pointer;
			max-height: 180px;
			max-width: 300px;
			display: inline-block;
			margin-right: 20px-4px;
			padding: 60px;
			background: url('../images/special2.jpg') 0 0 scroll no-repeat;
			&:first-child {
				background: url('../images/special1.jpg') 0 0 scroll no-repeat;
			}
			&:last-child {
				margin-right: 0;
				background: url('../images/special3.jpg') 0 0 scroll no-repeat;
			}
			p {
				margin: 0;
				display: block;
				width: 180px;
				height: 60px-20px;
				text-align: center;
				font: Aller 22px normal;
				padding-top: 20px;
				background-color: rgba(0,0,0,.8);
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}
arrivals {
	background-color: #ebe7df;
	height: 1000px;
	display: block;
	padding-top: 25px;
	.arrivals {
		width: 960px;
		min-width: 960px;
		margin: 0 auto;
		height: 230px;
		h2 {
			font-family: Aller;
			font-weight: normal;
			text-transform: capitalize;
			margin: 0;
			display: inline-block;
			width: 90%;
			padding-bottom: 10px;
		}
		a {
			font-family: Aller;
			float: right;
			color: #bcb5a7;
			border: 1px #bcb5a7 solid;
			text-transform: none;
			text-decoration: none;
			padding: 6px;
			&:hover {
				color: $logo-color;
				border-color: $logo-color;
			}
		}
		.item {
			position: relative;
			display: inline-block;
			width: 300px;
			height: 270px;
			background-color: #fff;
			margin: 15px 0 35px 25px;
			&:first-of-type {
				background: url('../images/shoe1.jpg') 0 0 scroll no-repeat;
			}
			&:nth-of-type(2) {
				background: url('../images/shoe2.jpg') 0 0 scroll no-repeat;
			}
			&:nth-of-type(3) {
				background: url('../images/shoe3.jpg') 0 0 scroll no-repeat;
			}
			&:nth-of-type(4) {
				background: url('../images/shoe4.jpg') 0 0 scroll no-repeat;
			}
			&:nth-of-type(5) {
				background: url('../images/shoe5.jpg') 0 0 scroll no-repeat;
			}
			&:nth-of-type(6) {
				background: url('../images/shoe6.jpg') 0 0 scroll no-repeat;
			}
			&:first-of-type, &:nth-of-type(4) {
				margin-left: 0;
			}
			#on-sale, #out-of-stock {
				position: absolute;
				display: block;
				width: 65px;
				height: 65px-20px;
				background-color: #000;
				color: #fff;
				top: 0;
				right: 15px;
				margin: 0;
				text-transform: uppercase;
				text-align: center;
				font-family: Aller;
				font-size: 13px;
				padding-top: 20px;
				display: none;
			}
			#out-of-stock {
				background-color: #f27e4b;
			}
			&:nth-of-type(2) #on-sale, &:nth-of-type(6) #out-of-stock {
				display: block;
			}
			div {
				position: absolute;
				display: block;
				height: 50px;
				bottom: 0;
				left: 0;
				right: 0;
				border-top: 1px #ccc solid;
				background-color: #fff;
				p:first-child {
					display: block;
					width: 70px;
					height: 45px;
					background-color: $logo-color;
					color: #fff;
					margin: -20px 0 0 12px;
					text-align: center;
					float: left;
					font-family: Aller;
					padding-top: 25px;
				}
				p:last-of-type {
					float: left;
					margin: 0;
					font-family: Aller;
					font-weight: normal;
					font-size: x-large;
					padding: 10px 0 0 10px;
					cursor: pointer;
			    display: block;
			    width: 208px;
			    height: 40px;
				}
				.links {
					position: absolute;
					right: 0;
					bottom: 0;
					margin: 0;
					height: 40px;
					width: 181px;
					display: none;
					background-color: #fff;
					cursor: pointer;
					overflow: hidden;
					padding: 5px 18px;
				}
			}
		}
		#free-shipping, #testimonials, #blog-news {
			padding: 17px;
			display: inline-block;
			width: 200px;
			min-height: 200px;
			margin: 0 16px 0 0;
			background-color: #dfdbd4;
			h3 {
				text-transform: uppercase;
				font-family: Aller;
				margin-top: 0;
			}
			p {
				font-size: small;
			}
		}
		#blog-news {
			width: 417px;
			margin: 0 0 5px 0;
			.blog-post {
				h4 {
					margin: 0;
				}
				p:first-of-type {
					margin: 0 10px 12px 0;
					display: block;
					background-color: $logo-color;
					font-family: Aller;
					color: #fff;
					float: left;
					text-transform: uppercase;
					width: 45px;
					height: 45px;
					font-size: large;
					text-align: center;
				}
				p:last-of-type {
					font-size: smaller;
					margin: 0 0 30px 0;
				}
			}
		}
	}
}