@font-face {
  font-family: MyFont;
  src: url(STHeitiSC.ttf); }
@font-face {
  font-family: Aller;
  src: url(Aller_Rg.ttf); }
body {
  font-family: MyFont, serif; }

header {
  height: 44px;
  background-color: #242424; }
  header div {
    position: relative;
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    display: block; }
    header div a[href="index.html"] {
      text-transform: uppercase;
      color: #57c5a0;
      text-decoration: none;
      font-size: 26pt;
      float: left; }
    header div p, header div input {
      float: right; }
    header div input {
      text-indent: 18px;
      width: 171px;
      height: 44px;
      color: #b1aeae;
      text-transform: uppercase;
      font-family: Myriad Pro, serif;
      font-size: 12pt;
      border: 1px #b1aeae solid;
      border-width: 0 1px;
      letter-spacing: 2px;
      background: url("../images/search-icon.png") 135px 12px scroll no-repeat #242424; }
    header div p {
      color: #b1aeae;
      padding: 11px 22px;
      margin: 0;
      border-right: 1px #b1aeae solid; }
      header div p a {
        color: #b1aeae;
        text-transform: uppercase;
        text-decoration: none; }
        header div p a:hover {
          color: #57c5a0; }

nav {
  height: 60px;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  display: block; }
  nav a {
    color: #000;
    float: left;
    width: auto;
    padding: 20px;
    text-transform: capitalize;
    text-decoration: none;
    border-left: 1px #eee solid;
    font-family: Aller, serif; }
    nav a:hover {
      color: #57c5a0; }
    nav a:last-of-type {
      border-right: 1px #eee solid; }
  nav p {
    cursor: pointer;
    float: right;
    display: block;
    width: 90px;
    height: 20px;
    margin: 0;
    text-align: center;
    padding: 20px 0;
    border-left: 1px #ccc solid;
    font-size: smaller; }
    nav p:first-of-type {
      border-right: 1px #ccc solid;
      background: url("../images/cart-icon.png") 22px 26px scroll no-repeat; }
    nav p:last-of-type {
      background: url("../images/wishlist-icon-off.png") 22px 26px scroll no-repeat; }
    nav p:hover span {
      background-color: #57c5a0; }
    nav p span {
      padding: 5px;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 3px;
      background-color: #adadad;
      margin-left: 46px;
      font-weight: bold;
      color: #fff;
      font-family: Aller; }

banner {
  background: url("../images/img-bg.jpg") 0 0 scroll no-repeat;
  display: block;
  height: 460px; }
  banner > div:first-child {
    height: 460px;
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    display: block;
    position: relative; }
    banner > div:first-child content {
      position: absolute;
      left: 520px;
      top: 70px; }
      banner > div:first-child content > * {
        margin: 8px 0; }
      banner > div:first-child content #price {
        display: block;
        width: 66px;
        background-color: #57c5a0;
        text-align: center;
        font-weight: bold;
        color: #fff;
        font-family: Aller;
        font-size: 9pt;
        padding: 26px 0; }
        banner > div:first-child content #price:before {
          content: '$'; }
      banner > div:first-child content p:last-of-type {
        text-transform: capitalize;
        font-size: 20px;
        padding-right: 5px; }
      banner > div:first-child content ul {
        padding: 0; }
        banner > div:first-child content ul li {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #fff; }
          banner > div:first-child content ul li:hover {
            cursor: pointer; }
          banner > div:first-child content ul li span {
            display: block;
            width: 40px;
            height: 40px; }
          banner > div:first-child content ul li:first-child span {
            background: url("../images/eye-icon-off.png") 12px 14px scroll no-repeat; }
            banner > div:first-child content ul li:first-child span:hover {
              background-image: url("../images/eye-icon-on.png"); }
          banner > div:first-child content ul li:nth-child(2) span {
            background: url("../images/wishlist-icon-off.png") 11px 12px scroll no-repeat; }
            banner > div:first-child content ul li:nth-child(2) span:hover {
              background-image: url("../images/wishlist-icon-on.png"); }
          banner > div:first-child content ul li:nth-child(3) span {
            background: url("../images/share-icon-off.png") 12px 13px scroll no-repeat; }
            banner > div:first-child content ul li:nth-child(3) span:hover {
              background-image: url("../images/share-icon-on.png"); }
          banner > div:first-child content ul li:last-child span {
            background: url("../images/buy-icon-off.png") 10px 12px scroll no-repeat; }
            banner > div:first-child content ul li:last-child span:hover {
              background-image: url("../images/buy-icon-on.png"); }

controllers .controllers {
  width: 600px;
  height: 90px; }
  controllers .controllers > div {
    width: 200px; }

/*# sourceMappingURL=style.css.map */
