@font-face {
  font-family: MyFont;
  src: url(STHeitiSC.ttf); }
@font-face {
  font-family: Aller;
  src: url(Aller_Rg.ttf); }
body {
  font-family: MyFont, serif; }

header {
  height: 44px;
  background-color: #242424; }
  header div {
    position: relative;
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    display: block; }
    header div a[href="index.html"] {
      text-transform: uppercase;
      color: #57c5a0;
      text-decoration: none;
      font-size: 26pt;
      float: left; }
    header div p, header div input {
      float: right; }
    header div input {
      text-indent: 18px;
      width: 171px;
      height: 44px;
      color: #b1aeae;
      text-transform: uppercase;
      font-family: Myriad Pro, serif;
      font-size: 12pt;
      border: 1px #b1aeae solid;
      border-width: 0 1px;
      letter-spacing: 2px;
      background: url("../images/search-icon.png") 135px 12px scroll no-repeat #242424; }
    header div p {
      color: #b1aeae;
      padding: 11px 22px;
      margin: 0;
      border-right: 1px #b1aeae solid; }
      header div p a {
        color: #b1aeae;
        text-transform: uppercase;
        text-decoration: none; }
        header div p a:hover {
          color: #57c5a0; }

nav {
  height: 60px;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  display: block; }
  nav a {
    color: #000;
    float: left;
    width: auto;
    padding: 20px;
    text-transform: capitalize;
    text-decoration: none;
    border-left: 1px #eee solid;
    font-family: Aller, serif; }
    nav a:hover {
      color: #57c5a0; }
    nav a:last-of-type {
      border-right: 1px #eee solid; }
  nav p {
    cursor: pointer;
    float: right;
    display: block;
    width: 90px;
    height: 20px;
    margin: 0;
    text-align: center;
    padding: 20px 0;
    border-left: 1px #ccc solid;
    font-size: smaller; }
    nav p:first-of-type {
      border-right: 1px #ccc solid;
      background: url("../images/cart-icon.png") 22px 26px scroll no-repeat; }
    nav p:last-of-type {
      background: url("../images/wishlist-icon-off.png") 22px 26px scroll no-repeat; }
    nav p:hover span {
      background-color: #57c5a0; }
    nav p span {
      padding: 5px;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 3px;
      background-color: #adadad;
      margin-left: 46px;
      font-weight: bold;
      color: #fff;
      font-family: Aller; }

banner {
  background: url("../images/img-bg.jpg") 0 0 scroll no-repeat;
  display: block;
  height: 460px; }
  banner > div:first-child {
    height: 460px;
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    display: block;
    position: relative; }
    banner > div:first-child content {
      position: absolute;
      left: 520px;
      top: 70px; }
      banner > div:first-child content > * {
        margin: 8px 0; }
      banner > div:first-child content #price {
        display: block;
        width: 66px;
        background-color: #57c5a0;
        text-align: center;
        font-weight: bold;
        color: #fff;
        font-family: Aller;
        font-size: 9pt;
        padding: 26px 0; }
        banner > div:first-child content #price:before {
          content: '$'; }
      banner > div:first-child content p:last-of-type {
        text-transform: capitalize;
        font-size: 20px;
        padding-right: 5px; }

ul.links {
  padding: 0; }
  ul.links li {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff; }
    ul.links li:hover {
      cursor: pointer; }
    ul.links li span {
      display: block;
      width: 40px;
      height: 40px; }
    ul.links li:first-child span {
      background: url("../images/eye-icon-off.png") 12px 14px scroll no-repeat; }
      ul.links li:first-child span:hover {
        background-image: url("../images/eye-icon-on.png"); }
    ul.links li:nth-child(2) span {
      background: url("../images/wishlist-icon-off.png") 11px 12px scroll no-repeat; }
      ul.links li:nth-child(2) span:hover {
        background-image: url("../images/wishlist-icon-on.png"); }
    ul.links li:nth-child(3) span {
      background: url("../images/share-icon-off.png") 12px 13px scroll no-repeat; }
      ul.links li:nth-child(3) span:hover {
        background-image: url("../images/share-icon-on.png"); }
    ul.links li:last-child span {
      background: url("../images/buy-icon-off.png") 10px 12px scroll no-repeat; }
      ul.links li:last-child span:hover {
        background-image: url("../images/buy-icon-on.png"); }

controllers {
  background-color: #2e2e2e;
  height: 90px;
  display: block;
  padding-top: 6px; }
  controllers .controllers {
    width: 600px;
    margin: 0 auto;
    height: 90px; }
    controllers .controllers > div {
      cursor: pointer;
      width: 190px;
      display: inline-block;
      margin-right: -4px; }
      controllers .controllers > div:nth-child(2) {
        margin-left: 6px; }
      controllers .controllers > div > * {
        text-align: center;
        color: #acacac;
        margin-bottom: 0;
        padding: 0;
        font-family: Aller;
        font-weight: normal; }
      controllers .controllers > div > p {
        margin-top: 0;
        color: #787878; }
      controllers .controllers > div.active h3, controllers .controllers > div:hover h3 {
        color: #fff; }
      controllers .controllers > div.active p, controllers .controllers > div:hover p {
        color: #adadad; }
    controllers .controllers .slider {
      display: block;
      width: 570px;
      height: 8px;
      background-color: #000;
      position: relative;
      padding: 2px 6px; }
      controllers .controllers .slider hr {
        display: block;
        width: 184px;
        /* .slider width / 3 - .slider padding-top - span padding-left/right */
        background-color: #57c5a0;
        height: 8px;
        /* .slider height - .slider padding-top */
        margin: 0;
        padding: 0;
        border: 0; }
      controllers .controllers .slider span {
        display: block;
        width: 2px;
        height: 8px;
        background-color: #2e2e2e;
        position: absolute;
        top: 2px; }
        controllers .controllers .slider span:first-of-type {
          left: 194px; }
        controllers .controllers .slider span:last-child {
          left: 386px;
          /* .slider padding-left + hr width *2 + first span */ }

specials {
  background-color: #242424;
  height: 205px;
  display: block;
  padding-top: 25px; }
  specials .specials {
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    height: 230px; }
    specials .specials div {
      cursor: pointer;
      max-height: 180px;
      max-width: 300px;
      display: inline-block;
      margin-right: 16px;
      padding: 60px;
      background: url("../images/special2.jpg") 0 0 scroll no-repeat; }
      specials .specials div:first-child {
        background: url("../images/special1.jpg") 0 0 scroll no-repeat; }
      specials .specials div:last-child {
        margin-right: 0;
        background: url("../images/special3.jpg") 0 0 scroll no-repeat; }
      specials .specials div p {
        margin: 0;
        display: block;
        width: 180px;
        height: 40px;
        text-align: center;
        font: Aller 22px normal;
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        text-transform: uppercase;
        color: #fff; }

arrivals {
  background-color: #ebe7df;
  height: 1000px;
  display: block;
  padding-top: 25px; }
  arrivals .arrivals {
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    height: 230px; }
    arrivals .arrivals h2 {
      font-family: Aller;
      font-weight: normal;
      text-transform: capitalize;
      margin: 0;
      display: inline-block;
      width: 90%;
      padding-bottom: 10px; }
    arrivals .arrivals a {
      font-family: Aller;
      float: right;
      color: #bcb5a7;
      border: 1px #bcb5a7 solid;
      text-transform: none;
      text-decoration: none;
      padding: 6px; }
      arrivals .arrivals a:hover {
        color: #57c5a0;
        border-color: #57c5a0; }
    arrivals .arrivals .item {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 270px;
      background-color: #fff;
      margin: 15px 0 35px 25px; }
      arrivals .arrivals .item:first-of-type {
        background: url("../images/shoe1.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:nth-of-type(2) {
        background: url("../images/shoe2.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:nth-of-type(3) {
        background: url("../images/shoe3.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:nth-of-type(4) {
        background: url("../images/shoe4.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:nth-of-type(5) {
        background: url("../images/shoe5.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:nth-of-type(6) {
        background: url("../images/shoe6.jpg") 0 0 scroll no-repeat; }
      arrivals .arrivals .item:first-of-type, arrivals .arrivals .item:nth-of-type(4) {
        margin-left: 0; }
      arrivals .arrivals .item #on-sale, arrivals .arrivals .item #out-of-stock {
        position: absolute;
        display: block;
        width: 65px;
        height: 45px;
        background-color: #000;
        color: #fff;
        top: 0;
        right: 15px;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-family: Aller;
        font-size: 13px;
        padding-top: 20px;
        display: none; }
      arrivals .arrivals .item #out-of-stock {
        background-color: #f27e4b; }
      arrivals .arrivals .item:nth-of-type(2) #on-sale, arrivals .arrivals .item:nth-of-type(6) #out-of-stock {
        display: block; }
      arrivals .arrivals .item div {
        position: absolute;
        display: block;
        height: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px #ccc solid;
        background-color: #fff; }
        arrivals .arrivals .item div p:first-child {
          display: block;
          width: 70px;
          height: 45px;
          background-color: #57c5a0;
          color: #fff;
          margin: -20px 0 0 12px;
          text-align: center;
          float: left;
          font-family: Aller;
          padding-top: 25px; }
        arrivals .arrivals .item div p:last-of-type {
          float: left;
          margin: 0;
          font-family: Aller;
          font-weight: normal;
          font-size: x-large;
          padding: 10px 0 0 10px;
          cursor: pointer;
          display: block;
          width: 208px;
          height: 40px; }
        arrivals .arrivals .item div .links {
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 0;
          height: 40px;
          width: 181px;
          display: none;
          background-color: #fff;
          cursor: pointer;
          overflow: hidden;
          padding: 5px 18px; }
    arrivals .arrivals #free-shipping, arrivals .arrivals #testimonials, arrivals .arrivals #blog-news {
      padding: 17px;
      display: inline-block;
      width: 200px;
      min-height: 200px;
      margin: 0 16px 0 0;
      background-color: #dfdbd4; }
      arrivals .arrivals #free-shipping h3, arrivals .arrivals #testimonials h3, arrivals .arrivals #blog-news h3 {
        text-transform: uppercase;
        font-family: Aller;
        margin-top: 0; }
      arrivals .arrivals #free-shipping p, arrivals .arrivals #testimonials p, arrivals .arrivals #blog-news p {
        font-size: small; }
    arrivals .arrivals #blog-news {
      width: 417px;
      margin: 0 0 5px 0; }
      arrivals .arrivals #blog-news .blog-post h4 {
        margin: 0; }
      arrivals .arrivals #blog-news .blog-post p:first-of-type {
        margin: 0 10px 12px 0;
        display: block;
        background-color: #57c5a0;
        font-family: Aller;
        color: #fff;
        float: left;
        text-transform: uppercase;
        width: 45px;
        height: 45px;
        font-size: large;
        text-align: center; }
      arrivals .arrivals #blog-news .blog-post p:last-of-type {
        font-size: smaller;
        margin: 0 0 30px 0; }

/*# sourceMappingURL=style.css.map */
